
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form method="post" action="/inscription">
    <div>
        <input type="text" name="firstname" value="" placeholder="firstname">
    </div>
    <br>
    <div>
        <input type="text" name="lastname" value="" placeholder="lastname">
    </div>
    <div>
        <input type="email" name="email" value="" placeholder="email">
    </div>
    <br>
    <div>
        <input type="password" name="password" value="" placeholder="password">
    </div>
    <br>
    <input type="submit">
    <br>
</form>

<a href="/test">inscription</a>

</body>
</html>